---
import ProjectLayout from "../../layouts/ProjectLayout.astro";
import ProjectMedia from "../../components/ProjectMedia.astro";
import FootnoteRef from "../../components/FootnoteRef.astro";
import { personalMedia } from "../media/personal";

const navItems = [
  { id: 'holiday', label: 'Holiday Card' },
  { id: 'star-wars', label: 'Star Wars' },
  { id: 'valentines', label: 'Valentine\'s Day' },
  { id: 'super-bowl', label: 'Super Bowl' },
];

const footnotes = [
  {
    id: "accessibility",
    text: "We have several family friends, including some Amish, who don't have access to a computer. For access, we print out our yearly update and mail it to them."
  },
  {
    id: "holiday-2019",
    text: "I thought New Mexico was just a desert, as exemplified by my Saguaro cacti, but I quickly learned the state has a significant amount of biodiversity—oh, and mountains."
  },
  {
    id: "holiday-2020",
    text: "Bonus points if you see the cat in the body of the stag. We actually printed this card and had it stamped with gold foil."
  },
  {
    id: "nixie",
    text: "Vintage displays that contain neon gas and metal cathodes shaped like numbers. When electricity is applied to the cathode, it glows with that characteristic orange-amber neon light."
  },
  {
    id: "dad-joke",
    text: "I'm sorry, I had to."
  }
];
---

<ProjectLayout 
  title="Personal"
  description="I'm a maker at heart, and this is a collection of personal projects and freelance work that showcases my interests and experimentation with different mediums."
  navItems={navItems}
  footnotes={footnotes}
>
  <section id="holiday">
    <div class="section-header">
      <h2 class="section-heading"><span>Holiday Card</span></h2>
      <small class="label">2017 – 2024</small>
    </div>
    <p>Annual holiday card designs have become a tradition, allowing me to experiment with different design styles, illustration, and printing techniques.
      Every year, I've challenged myself to try something new for our family's holiday card. 
      </p>
      <p>
        Around 2019, you'll see the size of the card decrease, as we've tried to do our part to reduce paper waste over the years. We also transitioned from sending
        cards in sealed envelopes, to simply sending a postcard. In the same breath, we've digitized the yearly update we send with the card, and provide a QR code or 
        a link to the digital version.<FootnoteRef id="accessibility" />
      </p>
    <ProjectMedia
      src={personalMedia.holiday2017.image}
      alt="2017 holiday card design with a textured, abstract Christmas tree"
      mediaType="image"
      showCaption={true}
    >
        2017 — I started off with a tree; just a tree, nothing more, nothing less
    </ProjectMedia>
    <ProjectMedia
      src={personalMedia.holiday2018.image}
      alt="2018 holiday card design of a dove with a berry branch in its beak"
      mediaType="image"
      showCaption={true}
    >
        2018 — This was right around when my grandfather passed, a man with an incredible voice. I fondly remember him singing Christmas carols, and I wanted to pay homage to him
    </ProjectMedia>
    <ProjectMedia
      src={personalMedia.holiday2019.image}
      alt="2019 holiday card design featuring three, stippled Saguaro cacti set amidst the shining desert sky"
      mediaType="image"
      showCaption={true}
    >
        2019 — I was obsessed with stippling for some reason, and this was intended to celebrate the holidays and our move to New Mexico<FootnoteRef id="holiday-2019" />
    </ProjectMedia>
    <ProjectMedia
      src={personalMedia.holiday2020.image}
      alt="2020 holiday card design with a monoline, Nordic-inspired stag and tree with a snowflake"
      mediaType="image"
      showCaption={true}
    >
        2020 — This is still my favorite design I've made to date<FootnoteRef id="holiday-2020" />. I vividly remember sitting at my computer during the pandemic and coming up with this incredibly simple, monoline design, paying an
        homage to Nordic culture and a sense of coziness, something we were all longing for at the time
    </ProjectMedia>
    <ProjectMedia
      src={personalMedia.holiday2021.image}
      alt="2021 holiday card design with a tiger and two champagne glasses representing the Year of the Tiger"
      mediaType="image"
      showCaption={true}
    >
        2021 — Ironically, we had a lot going on at the end of 2021, so we went with an early 2022 Lunar New Year-inspired card instead, after all, it was the Year of the Tiger
    </ProjectMedia>
    <ProjectMedia
      src={personalMedia.holiday2022.image}
      alt="2022 holiday card design featuring a textured, vertical ornament with tiers: a bassinet in a manger, a snowflake pattern, doves, and an abstract pattern"
      mediaType="image"
      showCaption={true}
    >
        2022 — An ornament, fit with different tiers of symbolism (the top tier represents the birth of our son, Thor) and a nod to the holiday spirit. This was the first year we had a vertical design on the postcard, 
        and it was a blast to texture!
    </ProjectMedia>
    <ProjectMedia
      src={personalMedia.holiday2023.image}
      alt="2023 holiday card design of a stack of gifts with different patterns representing the previous six years"
      mediaType="image"
      showCaption={true}
    >
        2023 — At this point, seven years in, I decided to pay homage to the previous six years. Try and spot the references to the previous cards
    </ProjectMedia>
    <ProjectMedia
      src={personalMedia.holiday2024.image}
      alt="2024 holiday card design featuring a purple and pink sky with an angel in the foreground"
      mediaType="image"
      showCaption={true}
    >
        2024 — My wife miscarried and we lost our daughter in the process in 2024. This was a difficult year, for many reasons, and all I could think about was this little angel up in Heaven,
        painting our skies hues of purple and pink.
    </ProjectMedia>
    <ProjectMedia
    src={personalMedia.holidayCards.image}
    alt="A collection of holiday cards set against a wood-textured backdrop"
    mediaType="image"
    showCaption={true}
  >
      The entire collection of holiday cards from 2017 to 2024
  </ProjectMedia>
  <p>
    I'm honestly super proud of these—they're very much a labor of love and a collaborative effort with my wife, who I have affectionately dubbed my <strong>art director</strong>.
    Here's to another year and another holiday card on the horizon!
  </p>
  </section>
 
  <section id="Star Wars">
    <div class="section-header">
      <h2 class="section-heading"><span>Star Wars</span></h2>
      <small class="label">Galactic Concepts</small>
    </div>
    <p>
      I'm really just a nerd at heart. At this point in time, I've watched every piece of Star Wars content that exists—live-action or animated, I don't differentiate. Talk to me any day about The Bad Batch,
      Visions, or Andor, and I'll happily oblige.
    </p>
    <p>
      I've been equally obsessed about all the intricate details that go into the <a href="https://www.blindltd.com/andor" target="_blank">UI and visual effects</a> of the live-action Star Wars universe. 
      It's so inventive, and I'm always left in awe.
    </p>
    <p>
      So, I set out to create my own take on the electrobinoculars from Hoth in The Empire Strikes Back, as an homage to the original trilogy.
    </p>
    <ProjectMedia
      src={personalMedia.electrobinoculars.image}
      alt="A macro shot through a pair of binoculars on Hoth, as AT-ATs are seen approaching in the distance"
      mediaType="image"
      showCaption={true}
    >
      <span>
        My exploratory UI for the viewfinder of the electrobinoculars on Hoth, featuring custom UI, nixie numerals, and texturing
      </span>
    </ProjectMedia>
    <p>
      This is a piece that comes alive for me. It feels like I'm right there on Hoth, next to the rebels. My process was scrappy: I borrowed an image of the AT-ATs from the movie, 
      and then created the surrounding ephemeral UI and texturing. There's something about it I love; the visual symmetry, the grain; it's nostalgic.
    </p>
    <p>
      The numerals you see at the bottom are actually my take on the numerals from Luke's targeting computer. I did a ton of research, because I was curious how they were created
      and couldn't find any definitive typeface, and learned that they were in fact, nixie tubes<FootnoteRef id="nixie" />. For the films, they would light up each number in sequence 
      and photograph each frame to create the appearance of a countdown.
    </p>
    <ProjectMedia
      src={personalMedia.nixie.image}
      alt="A sequence of numbers 1 through 9 in the style of nixie tubes"
      mediaType="image"
      showCaption={true}
    >
        Custom nixie numerals from Luke Skywalker's targeting computer. I made this into a font for future use, as you'll see below
    </ProjectMedia>
    <p>
      I knew I wanted to build more exploratory UI, so I reached out to a pilot-friend of mine, who was kind enough to snap some pictures the next
      time he was in the cockpit. What came of that research into different displays in modern planes was this flyby of the Death Star:
    </p>

      <ProjectMedia
        src={personalMedia.flyby.image}
        alt="A flyby of the Death Star, featuring custom UI"
        mediaType="image"
        showCaption={true}
      >
          A flyby of the Death Star, featuring a custom backdrop, UI, and texturing. Rendered in After Effects and composited in Photoshop
      </ProjectMedia>
<p>
  This is a perfect example of my versatility as a designer. The backdrop of the Death Star, tie fighters, and space, were all rendered in 
  After Effects. I leveraged some object files as a base, but heavily translated them into a particle system. The result is a tessellated Death Star, 
  fully capable of being animated three-dimensionally, with custom UI spatially overlaid. Remember that nixie tube font? I put that to good use, as well.
</p>
<p>
  This is truly the type of stuff that fuels me creatively as a designer. I'm not sure if I'll ever get the opportunity to work on UI for a Star Wars film, 
  but in the words of Han Solo, “Never tell me the odds.”
</p>
<ProjectMedia
  src={personalMedia.mandoShirt.image}
  alt="A t-shirt with a puffy green half Mandalorian helmet on the front, with the words 'This is the way', and a mythosaur on the upper back"
  mediaType="image"
  showCaption={true}
>
    Puffy Cricut Mandalorian shirt for Thor, complete with a mythosaur on the upper back
</ProjectMedia>
<p>
  As a parent, I genuinely love being able to create for my son. After all, he's a huge fan of Young Jedi Adventures. 
  This was right around May 2025, and the night before, my wife had picked up some puffy Cricut material. I quickly spun up Illustrator 
  to whip up this concept, keeping in mind my color restrictions. We (quietly) got it Cricut-ed, and had a happy little guy the next morning before Star Wars Day.
</p>
<ProjectMedia
  src={personalMedia.thorMando.image}
  alt="A photo of my son, Thor, in his one-of-one puffy Mandalorian shirt"
  mediaType="image"
  showCaption={true}
>
    Thor sporting his one-of-one, puffy Mandalorian shirt—he was thrilled
</ProjectMedia>
  </section>

  <section id="valentines">
    <div class="section-header">
      <h2 class="section-heading"><span>Valentine's Day</span></h2>
      <small class="label">2024</small>
    </div>
    <ProjectMedia
      src={personalMedia.valentine2024.image}
      alt="A Valentine's Day card design featuring a heart with a purple and pink sky"
      mediaType="image"
      showCaption={true}
    >
        The full set of Valentine's Day cards for Thor to hand out to his classmates
    </ProjectMedia>
    <p>
      Seneca and I make a great team on these types of Cricut projects. We'll collaborate early on the concept, 
      then we balance activities of cutting, assembling, and in this case, affixing the little dino poppers.
    </p>
    <p>
      It's projects like these that make me realize how far I've come as a designer—with the ability to stretch
      across various mediums, and like much of my product work, the ability to take a dino-licious<FootnoteRef id="dad-joke" /> concept and bring it to life.
      Seeing Thor's face light up when he got to hand these out to his classmates was by far the best part.
    </p>
  </section>

  <section id="super-bowl">
    <div class="section-header">
      <h2 class="section-heading"><span>Super Bowl</span></h2>
    </div>
    <p>
      My wife and I are football fans (go Bengals!), and for the past few years, we've hosted a Super Bowl party. We always have a lot of fun having friends over,
      but what makes it special is how much time, effort and thought goes into the food. Each year, myself and a good friend of mine who loves cooking, will 
      prepare dishes that are inspired by the cities of the two teams playing.
      </p>
      <p>
        Some years you might have BBQ with accoutrements, others might see birria and elote bowls. The irony is, I think we spend more time eating and enjoying the food than we do watching the game.
      </p>
    <ProjectMedia
      src={personalMedia.superBowl2024.image}
      alt="A Super Bowl card design featuring a football with a purple and pink sky"
      mediaType="image"
      showCaption={true}
    >
        Our 2024 Super Bowl party poster-invitation. I was heavily inspired by <a href="https://hyperallergic.com/67260/the-artistic-heritage-of-an-la-poster-shop-on-display/" target="_blank">Colby Poster Printing Company</a>; I'm obsessed with their strong type and messaging, and bold gradients
    </ProjectMedia>
    <ProjectMedia
      src={personalMedia.superBowl2025.image}
      alt="A Super Bowl card design featuring a football with a purple and pink sky"
      mediaType="image"
      showCaption={true}
    >
        Our 2025 poster—another homage to Colby Poster Printing Company
    </ProjectMedia>
  </section>
</ProjectLayout> 